@media (max-width:768px) {
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtea.png);
    margin-top: 220px;
    width: 295px;
    height: 297px
  }
  .style1,
  .style2,
  .style5 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 60px
  }
  .style2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtw4.png);
    margin-top: 0;
    width: 120px;
    height: 115px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ruzr.png);
    margin-top: 220px;
    width: 295px;
    height: 297px
  }
  .style3,
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 120px
  }
  .style6 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvfc.png);
    margin-left: 0
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ru9c.png);
    margin-left: 80px
  }
  .style3,
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style9 {
    display: flex;
    flex-direction: column;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rwjq.png);
    margin-left: 60px;
    margin-top: 220px;
    width: 295px;
    height: 297px
  }
  .style8 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rw6p.png);
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    margin-left: 33px;
    margin-top: 178px;
    width: 51px;
    height: 47px
  }
  .iphone678row1 {
    display: flex;
    margin-left: 35px;
    margin-top: 0;
    width: 320px;
    height: 115px;
    align-items: stretch
  }
  .style10,
  .style7 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 120px
  }
  .style10 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rx1o.png);
    margin-left: 0
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvss.png);
    margin-left: 80px
  }
  .style12,
  .style13,
  .style7 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style12 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxth.png);
    margin-left: 234px;
    margin-top: 56px;
    width: 51px;
    height: 47px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ry6m.png);
    margin-left: 60px;
    margin-top: 117px;
    width: 295px;
    height: 297px
  }
  .style11,
  .style17 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-top: 0
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxeu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 235px;
    width: 120px;
    height: 115px
  }
  .style17 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    width: 375px;
    height: 67px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style24 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ryo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 55px;
    height: 55px
  }
  .style18,
  .style19,
  .style20,
  .style21,
  .style22,
  .style23 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 67px
  }
  .style23 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2d5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 314px;
    width: 55px;
    height: 55px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 67px;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2ts.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 314px;
    width: 55px;
    height: 55px
  }
  .style15 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 67px;
    flex-direction: column;
    justify-content: center
  }
  .style33 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s39i.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 314px;
    width: 55px;
    height: 55px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 64px;
    flex-direction: column;
    justify-content: center
  }
  .style34,
  .style36,
  .style39,
  .style40 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s3q2.png);
    margin-left: 314px;
    height: 55px;
    width: 55px
  }
  .style36,
  .style39,
  .style40 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 120px
  }
  .style36 {
    margin-top: 513px;
    height: 115px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s4rt.png);
    margin-left: 235px
  }
  .style39,
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s624.png);
    margin-left: 0
  }
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s6f0.png);
    margin-left: 55px
  }
  .iphone678row0 {
    display: flex;
    margin-left: 60px;
    margin-top: 513px;
    width: 295px;
    height: 115px;
    align-items: stretch
  }
  .style43,
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s7p1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 0;
    width: 120px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s823.png);
    margin-left: 55px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s9cx.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 60px;
    margin-top: 513px;
    width: 120px;
    height: 115px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtea.png);
    margin-top: 451px;
    width: 604px;
    height: 608px
  }
  .style1,
  .style2,
  .style5 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 123px
  }
  .style2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtw4.png);
    margin-top: 0;
    width: 246px;
    height: 236px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ruzr.png);
    margin-top: 451px;
    width: 604px;
    height: 608px
  }
  .style3,
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 246px
  }
  .style6 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvfc.png);
    margin-left: 0
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ru9c.png);
    margin-left: 164px
  }
  .style3,
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style9 {
    display: flex;
    flex-direction: column;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rwjq.png);
    margin-left: 123px;
    margin-top: 451px;
    width: 604px;
    height: 608px
  }
  .style8 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rw6p.png);
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    margin-left: 68px;
    margin-top: 365px;
    width: 104px;
    height: 96px
  }
  .iphone678row1 {
    display: flex;
    margin-left: 72px;
    margin-top: 0;
    width: 655px;
    height: 236px;
    align-items: stretch
  }
  .style10,
  .style7 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 246px
  }
  .style10 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rx1o.png);
    margin-left: 0
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvss.png);
    margin-left: 164px
  }
  .style12,
  .style13,
  .style7 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style12 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxth.png);
    margin-left: 479px;
    margin-top: 115px;
    width: 104px;
    height: 96px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ry6m.png);
    margin-left: 123px;
    margin-top: 240px;
    width: 604px;
    height: 608px
  }
  .style11,
  .style17 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-top: 0
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxeu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 481px;
    width: 246px;
    height: 236px
  }
  .style17 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    width: 768px;
    height: 137px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style24 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ryo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 113px;
    height: 113px
  }
  .style18,
  .style19,
  .style20,
  .style21,
  .style22,
  .style23 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 137px
  }
  .style23 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2d5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 643px;
    width: 113px;
    height: 113px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 137px;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2ts.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 643px;
    width: 113px;
    height: 113px
  }
  .style15 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 137px;
    flex-direction: column;
    justify-content: center
  }
  .style33 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s39i.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 643px;
    width: 113px;
    height: 113px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 131px;
    flex-direction: column;
    justify-content: center
  }
  .style34,
  .style36,
  .style39,
  .style40 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s3q2.png);
    margin-left: 643px;
    height: 113px;
    width: 113px
  }
  .style36,
  .style39,
  .style40 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 246px
  }
  .style36 {
    margin-top: 1051px;
    height: 236px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s4rt.png);
    margin-left: 481px
  }
  .style39,
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s624.png);
    margin-left: 0
  }
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s6f0.png);
    margin-left: 113px
  }
  .iphone678row0 {
    display: flex;
    margin-left: 123px;
    margin-top: 1051px;
    width: 604px;
    height: 236px;
    align-items: stretch
  }
  .style43,
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s7p1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 0;
    width: 246px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s823.png);
    margin-left: 113px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s9cx.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 123px;
    margin-top: 1051px;
    width: 246px;
    height: 236px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtea.png);
    margin-top: 540px;
    width: 724px;
    height: 729px
  }
  .style1,
  .style2,
  .style5 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 147px
  }
  .style2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtw4.png);
    margin-top: 0;
    width: 294px;
    height: 282px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ruzr.png);
    margin-top: 540px;
    width: 724px;
    height: 729px
  }
  .style3,
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 294px
  }
  .style6 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvfc.png);
    margin-left: 0
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ru9c.png);
    margin-left: 196px
  }
  .style3,
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style9 {
    display: flex;
    flex-direction: column;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rwjq.png);
    margin-left: 147px;
    margin-top: 540px;
    width: 724px;
    height: 729px
  }
  .style8 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rw6p.png);
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    margin-left: 81px;
    margin-top: 437px;
    width: 125px;
    height: 115px
  }
  .iphone678row1 {
    display: flex;
    margin-left: 86px;
    margin-top: 0;
    width: 785px;
    height: 282px;
    align-items: stretch
  }
  .style10,
  .style7 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 294px
  }
  .style10 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rx1o.png);
    margin-left: 0
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvss.png);
    margin-left: 196px
  }
  .style12,
  .style13,
  .style7 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style12 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxth.png);
    margin-left: 574px;
    margin-top: 137px;
    width: 125px;
    height: 115px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ry6m.png);
    margin-left: 147px;
    margin-top: 287px;
    width: 724px;
    height: 729px
  }
  .style11,
  .style17 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-top: 0
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxeu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 577px;
    width: 294px;
    height: 282px
  }
  .style17 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    width: 920px;
    height: 164px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style24 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ryo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 135px;
    height: 135px
  }
  .style18,
  .style19,
  .style20,
  .style21,
  .style22,
  .style23 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 164px
  }
  .style23 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2d5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 770px;
    width: 135px;
    height: 135px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 164px;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2ts.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 770px;
    width: 135px;
    height: 135px
  }
  .style15 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 164px;
    flex-direction: column;
    justify-content: center
  }
  .style33 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s39i.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 770px;
    width: 135px;
    height: 135px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 157px;
    flex-direction: column;
    justify-content: center
  }
  .style34,
  .style36,
  .style39,
  .style40 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s3q2.png);
    margin-left: 770px;
    height: 135px;
    width: 135px
  }
  .style36,
  .style39,
  .style40 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 294px
  }
  .style36 {
    margin-top: 1259px;
    height: 282px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s4rt.png);
    margin-left: 577px
  }
  .style39,
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s624.png);
    margin-left: 0
  }
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s6f0.png);
    margin-left: 135px
  }
  .iphone678row0 {
    display: flex;
    margin-left: 147px;
    margin-top: 1259px;
    width: 724px;
    height: 282px;
    align-items: stretch
  }
  .style43,
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s7p1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 0;
    width: 294px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s823.png);
    margin-left: 135px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s9cx.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 147px;
    margin-top: 1259px;
    width: 294px;
    height: 282px
  }
}
@media (min-width:1200px) {
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtea.png);
    margin-top: 704px;
    width: 944px;
    height: 950px
  }
  .style1,
  .style2,
  .style5 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 192px
  }
  .style2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rtw4.png);
    margin-top: 0;
    width: 384px;
    height: 368px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ruzr.png);
    margin-top: 704px;
    width: 944px;
    height: 950px
  }
  .style3,
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 384px
  }
  .style6 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvfc.png);
    margin-left: 0
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ru9c.png);
    margin-left: 256px
  }
  .style3,
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style9 {
    display: flex;
    flex-direction: column;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rwjq.png);
    margin-left: 192px;
    margin-top: 704px;
    width: 944px;
    height: 950px
  }
  .style8 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rw6p.png);
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    margin-left: 106px;
    margin-top: 570px;
    width: 163px;
    height: 150px
  }
  .iphone678row1 {
    display: flex;
    margin-left: 112px;
    margin-top: 0;
    width: 1024px;
    height: 368px;
    align-items: stretch
  }
  .style10,
  .style7 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 384px
  }
  .style10 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rx1o.png);
    margin-left: 0
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rvss.png);
    margin-left: 256px
  }
  .style12,
  .style13,
  .style7 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style12 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 27px 25px;
    border-top-right-radius: 27px 25px;
    border-bottom-left-radius: 27px 25px;
    border-bottom-right-radius: 27px 25px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxth.png);
    margin-left: 749px;
    margin-top: 179px;
    width: 163px;
    height: 150px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ry6m.png);
    margin-left: 192px;
    margin-top: 374px;
    width: 944px;
    height: 950px
  }
  .style11,
  .style17 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-top: 0
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21rxeu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 752px;
    width: 384px;
    height: 368px
  }
  .style17 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    width: 1200px;
    height: 214px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style24 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21ryo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 176px;
    height: 176px
  }
  .style18,
  .style19,
  .style20,
  .style21,
  .style22,
  .style23 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 214px
  }
  .style23 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2d5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 1005px;
    width: 176px;
    height: 176px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 214px;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s2ts.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 1005px;
    width: 176px;
    height: 176px
  }
  .style15 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 214px;
    flex-direction: column;
    justify-content: center
  }
  .style33 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s39i.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 1005px;
    width: 176px;
    height: 176px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 205px;
    flex-direction: column;
    justify-content: center
  }
  .style34,
  .style36,
  .style39,
  .style40 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center
  }
  .style34 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s3q2.png);
    margin-left: 1005px;
    height: 176px;
    width: 176px
  }
  .style36,
  .style39,
  .style40 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    width: 384px
  }
  .style36 {
    margin-top: 1642px;
    height: 368px;
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s4rt.png);
    margin-left: 752px
  }
  .style39,
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s624.png);
    margin-left: 0
  }
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s6f0.png);
    margin-left: 176px
  }
  .iphone678row0 {
    display: flex;
    margin-left: 192px;
    margin-top: 1642px;
    width: 944px;
    height: 368px;
    align-items: stretch
  }
  .style43,
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s7p1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 0;
    width: 384px
  }
  .style44 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s823.png);
    margin-left: 176px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/24bjy9djz21s9cx.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 61px 59px;
    border-top-right-radius: 61px 59px;
    border-bottom-left-radius: 61px 59px;
    border-bottom-right-radius: 61px 59px;
    margin-left: 192px;
    margin-top: 1642px;
    width: 384px;
    height: 368px
  }
}